<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662598143151-s1j7r1h71oeeikjtoeha0i8c5ue7hq02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662598143151-s1j7r1h71oeeikjtoeha0i8c5ue7hq02</string>
	<key>API_KEY</key>
	<string>AIzaSyAir1zlu9G1Bpmbsgjnjl0EL9UGva6XwJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>662598143151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flewTravel</string>
	<key>PROJECT_ID</key>
	<string>flew-travel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flew-travel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662598143151:ios:19042b1fc6471f9814985a</string>
	<key>DATABASE_URL</key>
	<string>https://flew-travel-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>